.green-arrow {
    font-size: 20px; /* Adjust font size as needed */
    color:rgb(3, 220, 3); /* Red color for the arrow, adjust as needed */
    font-weight: bold; /* Make the arrow heavy */
    /* width: 5rem; */
  }